/**
 * |-- carousel
 *     |-- carousel__navigation
 *     |-- carousel__wrapper
 *         |-- carousel__list
 *             |-- carousel__item
 */

.carousel {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.carousel__wrapper {
    transform: translate3d(0, 0, 0);
    transition: transform 300ms ease;
}

.carousel__list {
    display: inline-block;
    width: 100%;
}

.carousel__item {
    background: #000;
    position: relative;
    display: inline-block;
}

.carousel__item img {
    width: 100%;
}

.carousel__item h3 {
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 15px;
    color: #fff;
    font-weight: lighter;
}

.carousel__item:before {
    content: ' ';
    background: linear-gradient(transparent, rgba(0, 0, 0, .9));
    position: absolute;
    height: 20%;
    left: 0;
    bottom: 0;
    right: 0;
}


.carousel__navigation button {
    position: absolute;
    width: 50px;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    font-size: 30px;
    border: 0;
    outline: none;
    opacity: 0;
    cursor: default;
    transition: opacity 500ms ease;
}

.carousel__navigation .carousel__navigationLeft {left: 0;}
.carousel__navigation .carousel__navigationRight {right: 0;}

.carousel__navigation.has-prev-highlighted .carousel__navigationLeft {opacity: 1; cursor: pointer;}
.carousel__navigation.has-next-highlighted .carousel__navigationRight {opacity: 1; cursor: pointer;}